<div id="dashTrips">
        <main id="dashboardPage">
            <div class="myPosts">
                <h1>Welcome to your dashboard</h1>
                <button type="submit" class="btn btn-primary">New post</button>
                {{#each userPost as |blogposts|}}
                {{> post}}
                {{/each}}
            </div>
        </main>
</div>