<div id="mainTrips">

    <main id="mainPage">
        <div class="all-posts">
            {{#each allPosts as |blogposts|}}
            {{> post}}
            {{/each}}
        </div>
    </main>
</div>