<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<div id="login-signup">
    <div class="flex-column justify-space-around">
        <header class="display-flex" style="background-color: maroon">
            <div id="title" style="color: lightgray">
                <h1 style="text-align: center">Welcome to the Tech Blog</h1>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mg-lg-0">
                            <li class="nav-item">
                                <a href="/" class="nav-link" id="home-link" style="color: white">
                                    <h3>Home</h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/dashboard" class="nav-link" id="dash-link" style="color: white">
                                    <h3>Dashboard</h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link" id="login-link" style="color: white">
                                    <h3>Login</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container" id="loginPage">
            <div class="login-form">
                <br>
                <br>
                <h3>Login</h3>
                <div class="user-username">
                    <label for="formGroupExampleInput">Username</label>
                    <input type="text" class="form-control" id="usernameInput" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password is case sensitive">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="break">
                <br>
                <h2>Or</h2>
                <br>
            </div>
            <div class="signup-form">
                <h3>Signup</h3>
                <div id="new-username">
                    <label for="newUserInput">Username</label>
                    <input type="text" class="form-control" id="newUserInput" placeholder="">
                </div>
                <div id="new-email">
                    <label for="inputNewEmail">Email address</label>
                    <input type="email" class="form-control" id="inputNewEmail" aria-describedby="emailHelp"
                        placeholder="">
                </div>
                <div id="new-password">
                    <label for="inputNewPass">Password</label>
                    <input type="password" class="form-control" id="inputNewPass" placeholder="Password is case sensitive">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Create new account</button>
            </div>
        </main>
    </div>
</div>