<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<div id="login-signup">
    <div class="flex-column justify-space-around">
        <form id="login-form">
            <br>
            <br>
            <h3>Login</h3>
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password is case sensitive">
            <br>
        </form>
        <button type="submit" class="btn btn-primary" form="login-form">Login</button>
        <div class="break">
            <br>
            <h2>Or</h2>
            <br>
        </div>
        <form id="signup-form">
            <h3>Signup</h3>
            <div id="new-username">
                <label for="newUserInput">Username</label>
                <input type="text" class="form-control" id="inputNewUsername" placeholder="">
            </div>
            <div id="new-email">
                <label for="inputNewEmail">Email address</label>
                <input type="email" class="form-control" id="inputNewEmail" aria-describedby="emailHelp" placeholder="">
            </div>
            <div id="new-password">
                <label for="inputNewPass">Password</label>
                <input type="password" class="form-control" id="inputNewPass" placeholder="Password is case sensitive">
            </div>
            <div id="confirm-password">
                <label for="inputNewPass">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPass" placeholder="Password is case sensitive">
            </div>
            <br>
        </form>
        <button type="submit" class="btn btn-primary" form="signup-form" id="signup-btn">Create new account</button>
    </div><script src="js/login.js"></script>
</div>