<div id="newPost">
    <div id="page-title">
        <h1>New Post</h1>
    </div>
    <main id="newPostPage">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Post title</label>
                <input type="text" class="form-control" id="newPostTitle" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write your post here</label>
                <textarea class="form-control" id="newPostBody" rows="6"></textarea>
            </div>
        </form>
    </main>
</div>